.no-items {
	text-align: center;
	font-size : 10px;
}

*{
font-family : Roboto Light;
}

ion-card-subtitle {
font-size	: 12px !important;
}

ion-card-content {
margin-left : -15px;
font-family : Roboto Light Italic;
}

ion-card-title {
font-size	: 18px !important;
font-family : Roboto Bold;

}