.validator-error {
	color: red; 
	padding-top: 0.2rem; 
	padding-left: 20px;
}

.no-items {
	text-align: center;
	font-size : 10px;
}

ion-card-title {
font-size	: 18px !important;
	font-family : Roboto Bold;
}

ion-card-subtitle {
font-size	: 13px !important;
	font-family : Roboto regular;
}

ion-card-content {
font-size	: 13px !important;
	font-family : Roboto Medium;
}
