<ion-content>
 <ion-searchbar #search [(ngModel)]="autocomplete.input" showCancelButton="focus" cancelButtonText="Custom Cancel" (ionInput)="UpdateSearchResults($event)" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()" showCancelButton="always" debounce="500" (ionCancel)="onCancel($event)"></ion-searchbar>
<ion-list *ngIf="autocompleteItems.length > 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
      {{ item.description }}
    </ion-item>
</ion-list>
</ion-content>