.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
   display: block;
   margin: auto;
  }

ion-title {
	text-align: justify;
	text-justify: inter-word;
}

.padding-bottom-5px {
	padding-bottom: 10px;
}